{% extends "base.html" %}
{% block content %}
<h1>{{ author.first_name }} {{ author.last_name }}</h1>
<p>Status: {% if author.is_best_seller %}Best-selling{% else %}Not best-selling{% endif %}</p>
<p>
  <a href="{% url 'author_update' author.pk %}">Edit</a> |
  <form method='post' action="{% url 'author_delete' author.pk %}">
    {% csrf_token %}
    <button>Delete</button>
  </form>

  <h2>All Books Written</h2>
  {% for book in books %}
  <a href="{% url 'book_detail' book.id%}">See Book Details</a>
    <p>{{book.title}}</p>
  {% endfor %}
</p>
{% endblock %}
